<app-multi-slut>
    <h6 card1>xxx</h6>
    <div card1>
        <a class="round_shadow_button" href="#">Click on Me</a>
        <a href="ssss" class="tergat">ssssss</a><br/>
        <a href="ssss" class="tergat">ssssss</a><br/>
        <a href="ssss" class="tergat">ssssss</a><br/>
        <a href="ssss" class="tergat">ssssss</a><br/>
        <a href="ssss" class="tergat">ssssss</a><br/>
    </div>
    
    <h6 card2>xwwxx</h6>
    <div card2>
        <a href="ssss" class="tergat">ssssss</a><br/>
        <a href="ssss" class="tergat">ssssss</a><br/>
        <a href="ssss" class="tergat">ssssss</a><br/>
    </div>

        
    <h6 card3>xwwxx</h6>
    <div card3>
        <a href="ssss" class="tergat">ssssss</a><br/>
        <a href="ssss" class="tergat">ssssss</a><br/>
        <a href="ssss" class="tergat">ssssss</a><br/>
    </div>

</app-multi-slut>

<router-outlet></router-outlet>