.round_shadow_button {
    font: 14px/2.3em trebuchet,arial;
    color: #aaa;
    text-shadow: 0 1px 0 #fff;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 0 5px;
    margin: 3px auto 5px;
    /*按鈕效果就在下三行*/
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 3px 5px #ccc;
}

.round_shadow_button:hover {
    margin: 5px auto 3px;
    box-shadow: 0 0 1px #eee;
}