<div class="wrapper">

<div class="line">
<div class="card">
    <div class="container"> 
        <h6><b select="[card1]"></b></h6>
        <ng-content select="[card1]"></ng-content>
    </div>
</div>
<div class="card">
    <div class="container"> 
        <h6><b select="[card2]"></b></h6>
        <ng-content select="[card2]"></ng-content>
    </div>
</div>
</div>

<div class="line">
<div class="card">
    <div class="container"> 
        <h6><b select="[card3]"></b></h6>
        <ng-content select="[card3]"></ng-content>
    </div>
</div>
<div class="card">
    <div class="container"> 
        <h6><b select="[card4]"></b></h6>
        <ng-content select="[card4]"></ng-content>
    </div>
</div>
</div>

<div class="line">
<div class="card">
    <div class="container"> 
        <h6><b select="[card5]"></b></h6>
        <ng-content select="[card5]"></ng-content>
    </div>
</div>
<div class="card">
    <div class="container"> 
        <h6><b select="[card6]"></b></h6>
        <ng-content select="[card6]"></ng-content>
    </div>
</div>
</div>

<div class="line">
<div class="card">
    <div class="container"> 
        <h6><b select="[card7]"></b></h6>
        <ng-content select="[card7]"></ng-content>
    </div>
</div>
<div class="card">
    <div class="container"> 
        <h6><b select="[card8]"></b></h6>
        <ng-content select="[card8]"></ng-content>
    </div>
</div>
</div>

<div class="line">
<div class="card">
    <div class="container"> 
        <h6><b select="[card9]"></b></h6>
        <ng-content select="[card9]"></ng-content>
    </div>
</div>
<div class="card">
    <div class="container"> 
        <h6><b select="[card10]"></b></h6>
        <ng-content select="[card10]"></ng-content>
    </div>
</div>
</div>
    
</div>