<div><div style="display: flex;">
    
    <div class="half" style="background-color: yellow;">
    <pre>
    CSS Box Model 區塊模型 
      每一個標籤都佔一個方形區塊(block) 想像一堆框框
        行內模式 inline   (a, span, img) 
        區塊模式 block 自動換行 (h1, div, ul, table..)
        隱藏模式 none 額外透過 css display 設定
      區塊填塞 padding 內容和邊框距離 (4個方向)
      區塊邊框 border
      外邊距 (很重要) 相鄰區塊間的距離 (4個方向) => 通常講的是兄弟區塊,不是內外
      背景色 (區塊背景)
      區塊寬/高 (限區塊模式block, 即span不可設定)
    
    FlexBox 
      多層次結構,每次只看相對的內外層關係 (遞迴處理)
      外層 display:block (內層一律佔滿跳行)
      外層 display:flex; 搭配 justify-content & align-items 成對使用 
        內層 flex: none;
    </pre>
    <a target="_blank" href="https://www.casper.tw/css/2017/07/21/css-flex/">
    CSS Flex 屬性一點也不難 (超清楚)</a><br/>
    
    <a target="_blank" href="https://www.youtube.com/watch?v=whFuqruDeJs&list=PL-g0fdC5RMbqW54tWQPIVbhyl_Ky6a2VI&index=5">
    CSS Box Model 區塊模型 </a><br/>
    <a target="_blank" href="https://www.youtube.com/watch?v=xbJPFMCiLHM&list=PL-g0fdC5RMbqW54tWQPIVbhyl_Ky6a2VI&index=8">
    CSS Flexbox 網頁切版技巧</a><br/>
    <a target="_blank" href="https://www.youtube.com/watch?v=om9ecdT-g9U&list=PL-g0fdC5RMbqW54tWQPIVbhyl_Ky6a2VI&index=10">
    RWD 回應式設計實務技巧 </a> 太棒了, 順便觀察開法工具<br/>
    桌機,平板,手機 @media(...) 1280-(1250)-(500)-360<br/>
    <a target="_blank" href="https://www.youtube.com/watch?v=6X8sDGFGRss&list=PL-g0fdC5RMbqW54tWQPIVbhyl_Ky6a2VI&index=26">
    AJAX 網路連線實務</a>
    </div>
    
    <div class="half">
    <pre>
    &lt;div style:"display:flex;                 (flex 代表水平排列)
                justify-content: flex-end;    (水平對齊方式)
                align-items: center;"&gt;        (上下對齊方式)
        &lt;div style:"flex:none; width:50%;"&gt;   (none 表固定配置) 
        &lt;div style:"flex:none; width:auto;"&gt;  (auto 自動補滿)
    </pre>
    
    <!--實驗開始 45% x 3 個 --> 
    實驗開始 45% x 3 個 
    <div class="container" style="display: flex;">
      <div class="forty aqua">設定45%</div>  
      <div class="forty red">設定45%</div> 
      <div class="forty aqua">設定45% 看不到我</div>
    </div><br/>
    
    沒有補滿
    <div class="container" style="display: flex;">
        <div class="fixed aqua">fixed左欄 150px </div>  
        <div class="half red">half 50% </div> 
        <div class="aqua">沒有補滿?</div>
    </div>
    auto 自動補滿
    <div class="container" style="display: flex;">
        <div class="fixed aqua">fixed左欄 150px </div>  
        <div class="half red">half 50% </div> 
        <div class="auto">auto 自動補滿</div>
    </div>
    
    水平對齊靠右 (justify-content: flex-end;) 
    <div class="container" style="display: flex; justify-content: flex-end;">
        <div class="fixed aqua">fixed左欄 150px</div>  
        <div class="half red">half 50% </div> 
        <div class="aqua">沒有補滿?</div>
    </div><br/>
    
    上下對齊置中 ( align-items: center;) height: 100px 
    <div class="container tall" style="display: flex; justify-content:center; align-items: center;">
        <div class="fixed aqua">fixed左欄 150px</div>  
        <div class="half red">half 50% </div> 
        <div class="auto aqua">auto 沒有補滿?</div>
    </div>
    
    </div><!--分割容器 half-->
    </div></div><!-- 空 & half-frame -->