<nav>
   <!---------------------------------------------------------------------------------
    設定範例:
    <a  routerLink="/" outerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"> 首頁</a>
    <a  routerLink ="aaa/xxx">xxxx</a>      
    <a [routerLink]="'aaa/yyy'">yyyy</a>
    <a [routerLink]="['aaa', 'zzz']">zzzz</a>
   ----------------------------------------------- ---------------------------------->
    <a routerLink="/"               routerLinkActive="active" class="ok"
    [routerLinkActiveOptions]="{ exact: true }"> 首頁-1</a>
<!--------------------------------------------------------------------------------->
    <a [routerLink]="['component']" routerLinkActive="active" class="ok">元件</a>
    <a [routerLink]="['services']"  routerLinkActive="active" class="ok">服務</a>    
    <a [routerLink]="['directive']" routerLinkActive="active" class="ok">指令(Directive)</a>                
<!--------------------------------------------------------------------------------->
    <a [routerLink]="'weblink'"     routerLinkActive="active" class="ok">網路連結</a>
    <a [routerLink]="['topics']"    routerLinkActive="active" class="ok">主題</a>
    <a [routerLink]="['demo']"      routerLinkActive="active" class="ok">Demo</a>
    <a [routerLink]="['repo']"      routerLinkActive="active" class="ok">Repoxc</a>
</nav>

<router-outlet></router-outlet>