<nav>
    <a routerLink="/"
       routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"> 研究地圖 (SVG) </a>
    
    <a [routerLink]="['layout']" routerLinkActive="active">排版(Layout)</a>
    <a [routerLink]="['directive']" routerLinkActive="active">指令(Directive)</a>
    
    <a routerLink="wrap/template" routerLinkActive="active">ng-template</a>      
    <a [routerLink]="['wrap', 'content']" routerLinkActive="active">ng-content</a>

  <a [routerLink]="'hook'"><button>Hook</button></a>

  <a [routerLink]="'xyz/x2'"><button>Xyz-2</button></a>
</nav>

<router-outlet></router-outlet>