<div class="wrapper" >

<div class="section">
待辦事項
<pre>
  <a target="_target" href="{{topics.will.youtube}}">保哥 angular 油管!!!</a>
  <a target="_target" href="{{topics.will.cli}}"> 新手老手都該學會的 Angular CLI 命令列工具應用技巧 => 重看!!</a>
  <a target="_target" href="{{topics.will.typescript}}">TypeScriptu新手指南</a>
  <a target="_target" href="{{topics.will.deploy_iis}}"> 含有路由機制的 SPA 網頁應用程式部署到 IIS 網站伺服器</a>
  <a target="_target" href="{{topics.will.SBAdmin2}}">TypeScriptu新手指南</a>
      unit test /  / ci cd/  aot/  , 
      server-path=/app1/   base-href=/app1/
      套件
        mkcert 憑證 / nx console / nrwl nx /  
        i18n / ng translate
      快捷鍵
        排版 pretty
        crl+d(批次修改), fn+f2 更名, 
        重構->function->燈泡->move new file
        全域變數->src->建typings.d.ts-> declaration var Chart: any;
        web component, AOP

      元件溝通
      <a href="{{topics.guide.inputs_outputs }}" target="_target">Sharing data between child and parent </a>
  
      Data transfer 
        <a href="{{topics.service.share_data }}" target="_target">Sharing data between child and parent </a>
        <a href="{{topics.service.data_transfer }}" target="_target">Data transfer </a> 
      
      多找一些材料跟課程題目當參考
        https://hackmd.io/@mko123654/BynYbWJcq
        https://www.uuu.com.tw/Course/Show/1908/%E6%96%B0%E4%B8%96%E4%BB%A3Web%E5%89%8D%E7%AB%AFAngular%E9%96%8B%E7%99%BC%E5%AF%A6%E6%88%B0Part-1
        https://www.udemy.com/course/angular-zero/
      $event
        https://ithelp.ithome.com.tw/articles/10239887

    <a target="_blank" href="{{links.mat_UI.top8 }}">Top 8 Material</a> || <a href="{{links.mat_UI.hulk }}">hulk</a>
    layout 優先處理 mainframe -> subframe
      mainframe 
        多個框架 (adminlte/primeNG) 
      subframe  
      不把上排 元件/指令/管道..放進 框架的導覽列
    <hr/>
    建立頁面範本 (共用 jquery )  
        參考 => <a target="_blank" href="{{ links.bootstrap.modal }}" style="color:red;"> bootstrap modal</a> 
    自訂樣式標籤 a target="_blank"> => a blank     
<hr/>
TCS
    <a target="_blank" href="{{ topics.coding_style.styleguide }}">Angular 官網 Coding Style + 組織架構 (必看!)</a> 
    <a target="_blank" href="{{ topics.coding_style.best_practices }}">資料夾架構最佳實踐!!!! (demo就用這個)</a> 
    蝦皮 / flash+express / 類別模組
    KAPPA => 可參考元件 <a target="_blank" href="{{ topics.issues.kappa_defeat }}" style="color:red;"> 一邊輸入自動過濾 </a> 
</pre>
</div>


<div class="section">
學習清單 (照順序)
<ul>
    <li> 專案架構 <a target="_blank" href="{{ topics.coding_style.best_practices }}">Folder Structure Best Practices (必看) </a> </li>
    <li> 排版-靠邊 <a target="_blank" href="{{ css.layout.sticky_footer }}"> Sticky Footer, Five Ways </a><br/>
            排版-Grid <a target="_blank" href="{{ css.grid.css_grid }}">CSS Grid -概念介紹及使用教學 (必學!!!!)</a><br/>
            排版-Flex <a target="_blank" href="{{ css.flexbox.css_flex }}">CSS Flex 屬性一點也不難 (超清楚)</a><br/>
            暫時不急 <a target="_blank" href="{{ css.w3schools.css_template }}">CSS School 排版範例 </a>
    </li>
    <li>溝通 <a target="_blank" href="{{ links.syncfusion.crud }}">CRUD webapi service </a> </li>
    <li>路由 <a target="_blank" href="{{ topics.router.start }}">官方 router</a><br/></li>            
</ul>
</div>
    
</div> <!--wrapper-->

