<div class="wrapper" >

<div class="section">
待辦事項
<pre>
    重新 layout, 
        把上排 元件/指令/管道..放進 框架的導覽列

    多個框架 (adminlte/primeNG) 
        建服務切換 路由指定參數 Layout -> subLayout

    建立頁面範本 (共用 jquery )  
        參考 => <a target="_blank" href="{{ links.bootstrap.modal }}" style="color:red;"> bootstrap modal</a> 

    自訂樣式標籤 a target="_blank"> => a blank     

<hr/>
TCS
    <a target="_blank" href="{{ topics.folder_structure.best_practices }}">資料夾架構最佳實踐!!!! (demo就用這個)</a> 
    蝦皮 / flash+express / 類別模組
    KAPPA => 可參考元件 <a target="_blank" href="{{ topics.issues.kappa_defeat }}" style="color:red;"> 一邊輸入自動過濾 </a> 
</pre>
</div>

<div class="section">
學習清單 (照順序)
<ul>
    <li> 專案架構 <a target="_blank" href="{{ topics.folder_structure.best_practices }}">Folder Structure Best Practices (必看) </a> </li>
    <li> 排版-靠邊 <a target="_blank" href="{{ css.layout.sticky_footer }}"> Sticky Footer, Five Ways </a><br/>
            排版-Grid <a target="_blank" href="{{ css.grid.css_grid }}">CSS Grid -概念介紹及使用教學 (必學!!!!)</a><br/>
            排版-Flex <a target="_blank" href="{{ css.flexbox.css_flex }}">CSS Flex 屬性一點也不難 (超清楚)</a><br/>
            暫時不急 <a target="_blank" href="{{ css.w3schools.css_template }}">CSS School 排版範例 </a>
    </li>
    <li>溝通 <a target="_blank" href="{{ links.syncfusion.crud }}">CRUD webapi service </a> </li>
    <li>路由 <a target="_blank" href="{{ topics.router.start }}">官方 router</a><br/></li>            
</ul>
</div>
    
</div> <!--wrapper-->