<div class="wrapper" >

    <div class="section">
    待辦事項
    <pre>
        重新 layout, 
          把上排 元件/指令/管道..放進 框架的導覽列
      
        多個框架 (adminlte/primeNG) 
           建服務切換 路由指定參數 Layout -> subLayout
      
        建立頁面範本 (共用 jquery )  
           參考 => <a target="_blank" href="{{ links.bootstrap.modal }}" style="color:red;"> bootstrap modal</a> 
        
        自訂樣式標籤 a target="_blank"> => a blank     
      
        MTCS
          蝦皮 / flash&express / 類別模組
          KAPPA defeat => 可參考元件 <a target="_blank" href="{{ topics.issues.kappa_defeat }}" style="color:red;"> 一邊輸入自動過濾 </a> 
      </pre>
    </div>
    
    <div class="section">
    學習清單
        <ul>
            <li> <a target="_blank" href="{{ links.syncfusion.crud }}"> CRUD webapi service </a> </li>
            <li> <a target="_blank" href="{{ flexbox.css_flex }}">CSS Flex 屬性一點也不難 (超清楚)</a></li>
            <li> <a target="_blank" href="{{ links.w3schools.css_template }}">排版範例 CSS School</a><br/></li>
            
        </ul>
    研究方向
        <pre>
        建立專案 -> 部署 -> 
        建立元件 -> 積木 
        Layout (W3School/AdminLTE/PrimeNG) 
        建立模組 -> 建立路由
        </pre>

    </div>
    
</div> <!--wrapper-->