<div class="wrapper">
    <app-adminlte-header></app-adminlte-header>
    <app-adminlte-sidebar></app-adminlte-sidebar>
    <div class="content-wrapper" style="min-height: 244.781px;">

      <!--
        <app-adminlte-content-header></app-adminlte-content-header>
        <app-adminlte-content>
            內容不需要跟框架綁在一起
        </app-adminlte-content>
      -->
      <div class="content">
        <div class="container-fluid">
          
          <router-outlet>
          </router-outlet>
    
        </div>
        <!--container-fluid-->
      </div>
      <!--content-->

    </div><!--content-wrapper-->
    <app-adminlte-footer></app-adminlte-footer>
</div>
