<div class="tabs">
  <nav>
    <a>框架 / UI</a>
    <a>library</a>
    <a>其它套件</a>
  </nav>

  <div class="content visible">
    
    <div>主框架</div> 
    <ul>
      <li> <a target="_blank" href="{{ links.enviroment.beginer }}">admin-lte (可拆分框架碼)</a> </li>

      <li> <a target="_blank" href="{{ links.primeng.faces }}">primeNG</a> ||
           <a target="_blank" href="{{ links.primeng.setup }}">(研究人家的元件, 重要學習)</a> ||
           <a target="_blank" href="{{ links.primeng.store }}">template store</a> 
      </li>

      <li><a target="_blank" href="https://www.syncfusion.com/blogs/post/top-10-angular-component-libraries-for-2022.aspx">
        Top 10 Angular Component Libraries for 2022</a>  (介紹 syncfusion/ Clarity/nebular)
      </li>
      
      <li> <a target="_blank" href="{{ links.syncfusion.start }}">syncfusion (框架很多)</a> ||
           <a target="_blank" href="{{ links.syncfusion.demo }}">syncfusion-Demo</a>  必看!!
      </li>

      <li> <a target="_blank" href="{{ links.clarity.start }}">Clarity (框架很多)</a> || 
           <a target="_blank" href="{{ links.clarity.demo }}">Clarity-Demo</a> 必看!!
      </li>

      <li> <a target="_blank" href="{{ links.vaadin.start }}">vaadin (框架很多)</a> || 
           <a target="_blank" href="{{ links.vaadin.demo }}">vaadin-Demo</a> 必看!!|| 
           <a target="_blank" href="{{ links.vaadin.quick }}">Quick Start</a> 
      </li>

      <li> <a target="_blank" href="{{ links.nebular.start }}">nebular</a> 
      </li>
    </ul>

    <div>UI 工具</div> 
    <ul>
      <li> <a target="_blank" href="{{ links.nebular.ngx_admin }}">ngx_admin</a> </li>
      <li> <a target="_blank" href="{{ links.bootstrap.ng_bootstrap }}">ng_bootstrap</a> </li>
      <li> <a target="_blank" href="{{ links.bootstrap.ngx_bootstrap }}">ngx_bootstrap (這個較舊)</a> </li>
      <li> <a target="_blank" href="{{ links.ng_lightning.start }}">ng_lightning (小 UI 可參考)</a> </li>
    </ul>

  </div> <!--content-->

  <div class="content">
    <div>library</div> 
    <ul>
      <li> <a target="_blank" href="{{ links.jquery.jquery_ui }}">jquery-ui</a> </li>
    </ul>
  </div> <!--content-->

</div><!--tabs-->

