指令
<pre>
$ ng g class directive/task 
$ npm install admin-lte@^3.2 --save
------------------
參考: <a target="_blank" href="{{ links.adminlte.docs32 }}">admin-lte (完整拆分)</a>
參考: <a target="_blank" href="{{ links.adminlte.starter }}">Starter.html</a>
------------------
分析網頁結構 
  麻煩: 開發者工具 取出 DOM
  簡單: <a target="_blank" href="{{ links.adminlte.header }}">Header 範本(灰/黑..)</a>
  排版: <a target="_blank" href="{{ topics.tools.codebeautify }}">html 排版工具</a>
代入 layout (header/sidebar/...)
拿掉 sidebar(user-panel / image / search)
重組 content-wrapper
</pre>
<hr/>

