<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">彭蓬教學</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
</div>

<pre>

彭哥: https://www.youtube.com/@cwpeng-course/videos 
css grid: https://www.youtube.com/watch?v=lI81W0A-GUc

AI 推薦
Traversy Media: https://www.youtube.com/channel/UC29ju8bIPH5as8OGnQzwJyA
DesignCourse: https://www.youtube.com/@DesignCourse
Designmodo: https://www.youtube.com/@designmodo
</pre>

<router-outlet>50</router-outlet>

