<div class="row">
    <div class="column col50">
    <pre>
        nav a:link,
        nav a:visited,
        nav a:hover,
        nav a:active &#123;
          color: black;
          text-decoration: none;
        &#125;
      
        nav a.active &#123;
          background-color: black;
          color: white;
        &#125;
      
        /*** 功能已打開 => 預設顯示 ***/
        nav a.ok:link,
        nav a.ok:visited &#123;
          color: black;
          background-color: yellow;
          text-decoration: none;
        &#125;
        /**** 浮在上面  or 正按下 ****/
        nav a.ok:hover,
        nav a.ok:active &#123;
          color: white;
          background-color: red;
        &#125;
        /**** 已按下 ****/
        nav a.ok.active &#123;
          color: white;
          background-color: black;
        &#125;
        /*** 自己改 ***/
    </pre></div>
  
    <div class="column col50">
    <pre>
    
    </pre></div>
  </div>
    
    