<ul class="nav nav-tabs">
  <li class="nav-item">
    <a id="A" class="nav-link active" aria-current="page">Angular.json</a>
  </li>
  <li class="nav-item">
    <a id="B" class="nav-link">environment.ts</a>
  </li>
  <li class="nav-item">
    <a id="C" class="nav-link">app-routing</a>
  </li>
  <li class="nav-item">
    <a id="D" class="nav-link">index.ts</a>
  </li>
  <li class="nav-item">
    <a id="E" class="nav-link">CSS nav</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
<hr/>

<!-- jquery 簡易控制 不需要路由呀 -->
<app-angular-json class="topic A"></app-angular-json>
<app-set-environment class="topic B" hidden></app-set-environment>
<app-set-routing class="topic C" hidden></app-set-routing>
<app-index-ts class="topic D" hidden></app-index-ts>
<app-css-nav  class="topic E" hidden></app-css-nav>
