<div class="wrapper">
    <div class="left">
        <ul>
            <a [routerLink]="['todo']"><li>待辦事項</li></a> 
            <a [routerLink]="['idea']"><li>重要觀念</li></a> 
            <a [routerLink]="['video']"><li>影片教學</li></a> 
            <a [routerLink]="['ui-list']"><li>UI套件</li></a> 
            <a [routerLink]="['tools']"><li>工具箱</li></a> 
            <a [routerLink]="['config']"><li>設定參考</li></a> 
            <a [routerLink]="['links']"><li>網路連結</li></a>
        </ul>
    </div>

    <div class="content">
       <router-outlet></router-outlet>
    </div>
</div>