<h6>其他</h6>  

<app-multi-slut>

    <h6 card1>恆逸</h6>
    <div card1>
        <a href="https://www.udemy.com/course/angular-zero/" target="_blank">開發實戰：從零開始</a> <br/>
        <a href="https://www.uuu.com.tw/Course/Show/1908/%E6%96%B0%E4%B8%96%E4%BB%A3Web%E5%89%8D%E7%AB%AFAngular%E9%96%8B%E7%99%BC%E5%AF%A6%E6%88%B0Part-1" target="_blank">恆逸-開發實戰Part 1</a> <br/>
        <a href="https://edwardzou.blogspot.com/2019/01/ngx-translate.html" target="_blank">ngx-translate 多語系實務應用</a> <br/>
    </div>

    <h6 card2>Hulk</h6>
    <div card2>
        <a href="https://flatlogic.com/blog/top-8-material-ui-templates/" target="_blank">Hulk-1</a> <br/>
        <a href="https://themeforest.net/item/hulk-reactjs-redux-material-ui-admin-template/26538639?irgwc=1&clickid=S%3A93FI15LxyIUEbWF4XxqyDMUkG3PUQ9MUw5T80&iradid=275988&irpid=369282&iradtype=ONLINE_TRACKING_LINK&irmptype=mediapartner&mp_value1=&utm_campaign=af_impact_radius_369282&utm_medium=affiliate&utm_source=impact_radius" target="_blank">Hulk-2</a> <br/>
        <a href="https://preview.themeforest.net/item/hulk-reactjs-redux-material-ui-admin-template/full_screen_preview/26538639?_ga=2.222230493.415226269.1672849139-102382474.1672670062" target="_blank">Hulk-3</a> <br/>        
    </div>

</app-multi-slut>
